{deps, [
  {cowlib, ".*",
    {git, "https://github.com/lpgauth/cowlib.git", "adgear-v1.0"}},
  {erl_string_encoders, "1.0.0",
    {git, "https://github.com/ratelle/erl_string_encoders.git", {branch, "master"}}},
  {ranch, ".*",
    {git, "https://github.com/lpgauth/ranch.git", "fast_accept2"}}
]}.
